.nav-tabs {
  border-bottom: none !important;
}
body.berry-dark .nav-tabs .nav-link,
body.berry-dark .tab-content {
  box-shadow: none !important;
  background: none !important;
}

.earning-card {
  .round {
    &.secondary-round {
      background: #4527a0;
    }
    &.primary-round {
      background: #1565c0;
    }
  }
}

.total-income-card {
  .avatar {
    background: #1565c0;
  }
}

.main-div {
  padding: 80px 70px 0px 50px;
}

.team-card {
  width: 48%;
  max-height: 180px;
  margin-bottom: 20px;
  margin-right: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 20px;
}

.logo {
  width: 90px;
  height: 90px;
  margin-top: 10px;
  position: relative;
  left: 10px;
  top: 10px;
}

.auction-title {
  font-size: 65px;
  padding-left: 30px;
  font-weight: bold;
}
.left {
  padding: 10px;
  .card-body {
    padding: 5px 10px;
  }
}
.no-players {
  padding: 20px 10px 10px 10px;
}
.right {
  padding: 10px;
  .card-body {
    max-height: 610px;
    overflow: auto;
    margin-bottom: 0px !important;
    padding-top: 0px;
  }
}

.players-text {
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 10px 0px 10px;
  color: #fff;
  background: linear-gradient(180deg, rgba(101, 247, 14, 0.9051995798319328) 0%, rgba(47, 113, 11, 1) 48%);
}
.banner {
  background: url('../../../assets/images/bg2.jpg');
  color: #fff;
  .card-body {
    padding: 0px 10px;
  }
  margin-bottom: 10px;
}
.card-1 {
  background: url('../../../assets/images/bg3.jpg');
  color: #fff;
  background-size: cover;
}
.card-2 {
  background: url('../../../assets/images/bg4.jpg');
  color: #fff;
  background-size: cover;
}
.card-3 {
  background: url('../../../assets/images/bg5.jpg');
  color: #fff;
  background-size: cover;
}
.card-4 {
  background: url('../../../assets/images/bg7.jpg');
  color: #fff;
  background-size: cover;
}
.desc {
  padding-left: 130px;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -10px;
  text-shadow: 4px -1px 4px rgba(184, 184, 184, 0.73);
}

.otto {
  color: white;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.player-list-info {
  .player-name {
    font-weight: 18px;
    font-weight: bold;
  }
  .header {
    margin-right: 10px;
  }
}

.player-pic {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.team-div {
  height: 185px;
  padding: 0px 20px;
  .card {
    margin-bottom: 0px !important;
    .card-body {
      padding: 0px;
    }
  }
  .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    // background: linear-gradient(180deg, rgba(245, 72, 90, 0.9051995798319328) 0%, rgba(145, 2, 27, 0.9809173669467787) 48%);
    // background: linear-gradient(90deg, rgba(240, 63, 78, 1) 0%, rgba(244, 58, 58, 0.9781162464985994) 58%);
    background: linear-gradient(90deg, rgba(171, 17, 30, 1) 0%, rgba(249, 62, 62, 0.9781162464985994) 28%);
    padding: 5px 10px;
    border-radius: 10px;
  }
  .header {
    margin-right: 10px;
    font-weight: bold;
  }
}

.teams-card {
  flex-wrap: wrap;
}
.purse-amount {
  font-size: 22px;
  font-weight: bold;
}

.captain-name {
  font-size: 18px;
  font-weight: bold;
}

.player-pic-details {
  width: 100%;
  height: 730px;
}
.bid-price {
  width: 100px;
}

.captain-row {
  font-weight: bold;
  background: rgb(217, 29, 65) !important;
  background: -moz-linear-gradient(90deg, rgba(217, 29, 65, 1) 43%, rgba(143, 9, 27, 1) 73%) !important;
  background: -webkit-linear-gradient(90deg, rgba(217, 29, 65, 1) 43%, rgba(143, 9, 27, 1) 73%) !important;
  background: linear-gradient(90deg, rgba(217, 29, 65, 1) 43%, rgba(143, 9, 27, 1) 73%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d91d41",endColorstr="#8f091b",GradientType=1) !important;
  td {
    color: #fff !important;
  }
}

.team-pic {
  width: 150px;
  height: 150px;
  padding: 10px 0px 0px 0px;
}
.auction-teams {
  flex-wrap: wrap;
  .p-2 {
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
.player-details-body {
  overflow: auto;
  .card-body {
    background: rgb(244, 243, 250);
    background: -moz-linear-gradient(
      90deg,
      rgba(244, 243, 250, 0.3136904419971114) 2%,
      rgba(142, 183, 242, 0.5153711142660189) 47%,
      rgba(191, 0, 58, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(244, 243, 250, 0.3136904419971114) 2%,
      rgba(142, 183, 242, 0.5153711142660189) 47%,
      rgba(191, 0, 58, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(244, 243, 250, 0.3136904419971114) 2%,
      rgba(142, 183, 242, 0.5153711142660189) 47%,
      rgba(191, 0, 58, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f3fa",endColorstr="#bf003a",GradientType=1);
  }
  .card {
    margin-bottom: 0px !important;
  }
  .teams-card {
    margin-bottom: 20px !important;
  }
}
.player-name-div {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 7%;
  width: 39%;
  text-transform: capitalize;
  .name {
    padding: 5px 20px;
    background-color: #fff;
    margin-bottom: 5px;
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: #ed0000;
    background: linear-gradient(90deg, rgba(237, 0, 0, 1) 0%, rgba(255, 255, 13, 1) 52%, rgba(237, 0, 0, 1) 98%);
  }
  .role {
    padding: 5px 20px;
    background-color: #fff;
    background: #ed0000;
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: linear-gradient(90deg, rgba(237, 0, 0, 1) 0%, rgba(255, 255, 13, 1) 52%, rgba(237, 0, 0, 1) 98%);
  }
}
.table {
  --bs-table-bg: none !important;
}

.table > :not(caption) > * > * {
  color: none;
}

.bid-price-div {
  position: absolute;
  top: 41%;
  left: 64%;
  z-index: 999;
  color: #fff;
  background-color: #000;
  min-width: 120px;
  font-size: 50px;
  border-radius: 10px;
}

#viewPlayerDetails {
  background: rgb(126, 123, 123);
  background: -moz-linear-gradient(90deg, rgba(126, 123, 123, 0.835171568627451) 43%, rgba(126, 123, 123, 0.8575805322128851) 73%);
  background: -webkit-linear-gradient(90deg, rgba(126, 123, 123, 0.835171568627451) 43%, rgba(126, 123, 123, 0.8575805322128851) 73%);
  background: linear-gradient(90deg, rgba(126, 123, 123, 0.835171568627451) 43%, rgba(126, 123, 123, 0.8575805322128851) 73%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7e7b7b",endColorstr="#7e7b7b",GradientType=1);
}

.timer {
  position: absolute;
  top: -10px;
  left: 31%;
  background-color: #000;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  z-index: 900;
  font-size: 40px;
}

.current-bid-team {
  background: linear-gradient(180deg, rgba(28, 236, 41, 0.9051995798319328) 0%, rgba(6, 116, 6, 0.9809173669467787) 48%);
  color: #fff;
}

.sold-out {
  .btn {
    position: absolute;
    width: 100%;
  }
}

.logo-div {
  // background: linear-gradient(180deg, rgba(161, 8, 8, 1) 60%, rgba(247, 52, 52, 1) 100%);
  border-radius: 10px;
  padding-bottom: 10px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.rem-amount {
  font-size: 20px;
}
.team-name {
  font-size: 18px;
}

.number-display {
  position: absolute;
  font-size: 300px;
  z-index: 999;
  padding: 0px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  .num-div {
    min-width: 600px;
    color: #fff;
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
  }
}

.generatePlayer {
  position: relative;
  top: 35px;
  .btn {
    font-weight: bold;
    max-width: 200px;
    font-size: 20px;
  }
}

.t-logo {
  position: absolute;
  right: 15px;
  top: 55px;
  img {
    width: 120px;
    height: 110px;
  }
}

.c-bid-price {
  text-align: right;
  padding-right: 10%;
}

#viewPlayersModal {
  .modal-header {
    padding: 10px 10px 0px 3%;
  }
  table tr td {
    font-size: 20px;
  }
}
.purse-details {
  div {
    padding: 0px 3%;
    font-size: 18px;
    font-weight: bold;
  }
}

.result-info {
  // padding: 10px;
  div {
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 5px;
    background: rgb(201, 15, 34);
    background: -moz-linear-gradient(90deg, rgba(201, 15, 34, 1) 43%, rgba(212, 33, 61, 1) 73%);
    background: -webkit-linear-gradient(90deg, rgba(201, 15, 34, 1) 43%, rgba(212, 33, 61, 1) 73%);
    background: linear-gradient(90deg, rgba(201, 15, 34, 1) 43%, rgba(212, 33, 61, 1) 73%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c90f22",endColorstr="#d4213d",GradientType=1);
  }
}
.disable-team {
  pointer-events: none !important;
  background-color: lightgrey !important;
}
