.outer {
    background: url('../../../../assets/images/summary-bg1.jpg');
    background-size: cover;
    padding: 7% 27%;
    height: 100vh;
}

.team-pic-1{
    img {
        width:40px;
        height: 40px;
    }
    position: relative;
    left: -20px;
}
.team-pic-2{
    img{
        width:40px;
        height: 40px;
    }
    position: relative;
    right: -20px;
}

.score-icon{
    width:25px;
    height:25px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}
.left-p-ball{
    position: relative;
    left: -80px;
    bottom: 2px;
}
.right-p-ball{
    position: relative;
    right: -87px;
    bottom: 2px;
}
.left-p-bat{
    position: relative;
    left: -100px;
    bottom: 2px;
}
.right-p-bat{
    position: relative;
    right: -104px;
    bottom: 2px;
}
.card {
    .header {
        padding: 5px 15px;
    }

    .batting-card {
        div {
            width: 100%;
        }

        .name {
            padding: 1px 15px;
            font-weight: bold;
            width: 60%;
            background: linear-gradient(to right, #ccc, transparent 40%);
        }

        .runs {
            width: 20%;
            padding: 1px 15px;
            text-align: right;
            font-weight: bold;
            background: linear-gradient(to right, #ccc, transparent 50%);
        }
        .wickets {
            width: 20%;
            padding: 1px 10px;
            text-align: right;
            font-weight: bold;
            background: linear-gradient(to right, #ccc, transparent 50%);
        }

        .balls {
            padding: 5px;
            background: linear-gradient(to right, #ccc, transparent 50%);
            width: 15%;
            text-align: right;
            font-size: 12px;
        }

        .inner {
            width: 100%
        }
    }

    .team-name {
        font-size: 20px;
        color: #161E4F;
        font-weight: bold;
    }

    .location {
        background-color: #22AB2A;
        color: #000;
        font-size: 15px;
    }

    .score {
        background-color: #161E4F;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        .d-flex{
            width:50%;
        }
        .icon{
            width:20px;
            height: 20px;
        }
    }

    .result {
        padding: 5px;
        font-size: 18px;
        font-weight: bold;
        background-color: #161E4F;
        color: #D3BE35;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}