<div>
  <div class="card matches-card">
    <div class="card-body d-flex p-1">
      <div class="col-xl-4 col-md-6 p-2">
        <div class="card earning-card bg-gradient-blue text-white overflow-hidden">
          <span class="round secondary-round small"></span>
          <span class="round secondary-round big"></span>
          <div class="card-body">
            <div class="fs-3 fw-bold">Auction Details</div>
            <div>
              @if (auctionInfo$ | async; as auction) {
                @if (auction?.length) {
                  <div class="d-flex justify-content-between">
                    <div>
                      <div>
                        <span class="fw-bold">Title:</span>
                        {{ auction[0]?.title }}
                      </div>
                      <div>
                        <span class="fw-bold">Sub Title:</span>
                        {{ auction[0]?.subTitle }}
                      </div>
                      <div>
                        <span class="fw-bold">Player Base Price:</span>
                        {{ auction[0]?.basePrice }}
                      </div>
                    </div>
                    <div>
                      <div>
                        <span class="fw-bold">Team Purse Amount:</span>
                        {{ auction[0]?.teamPurse }}
                      </div>
                      <div>
                        <span class="fw-bold">Auction Date:</span>
                        {{ getDate(auction[0]?.createdOn) }}
                      </div>
                      <div>
                        <button class="btn btn-danger">Delete Auction</button>
                      </div>
                    </div>
                  </div>
                } @else {
                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#createAuctionModal">Create Auction</button>
                }
              }
            </div>
          </div>
        </div>
        <!-- Add Auction Modal-->
        <div class="modal fade" id="createAuctionModal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-2" id="createAuction">Create Auction</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeCreateAuctionModal></button>
              </div>
              <form [formGroup]="createAuctionForm" id="auctionForm">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="auctionTitle" placeholder="Auction Title" formControlName="title" />
                        <label for="auctionTitle">Auction Title</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="auctionSubTitle" placeholder="Sub Title" formControlName="subTitle" />
                    <label for="auctionSubTitle">Sub Title</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="basePrice" placeholder="Player Base Price" formControlName="basePrice" />
                    <label for="basePrice">Player Base Price</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="teamPurse" placeholder="Team Purse Amount" formControlName="teamPurse" />
                    <label for="teamPurse">Team Purse Amount</label>
                  </div>
                  <div class="form-floating mb-3">
                    <div>Number of PLayers: {{ auctionPlayers?.length }}</div>
                  </div>
                </div>
                <div class="form-floating mb-3 p-3">
                  <input type="date" class="form-control" id="auctionDate" placeholder="Auction Date" formControlName="auctionDate" />
                  <label for="auctionDate">Auction Date</label>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="createAuction()" [disabled]="createAuctionForm.invalid">
                    Create
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 p-2">
        <div class="card earning-card bg-gradient-red text-white overflow-hidden">
          <span class="round secondary-round small"></span>
          <span class="round secondary-round big"></span>
          <div class="card-body">
            <div class="fs-3 fw-bold">Team Details</div>
            <div>Total Teams: {{ auctionTeams?.length }}</div>
            <div>
              <div>
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addTeamModal">Add Team</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 p-2">
        <div class="card earning-card bg-gradient-green text-white overflow-hidden">
          <span class="round secondary-round small"></span>
          <span class="round secondary-round big"></span>
          <div class="card-body">
            <div class="fs-3 fw-bold">Player Details</div>
            <div>Total Players: {{ auctionPlayers?.length }}</div>
            <div>
              <div>
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addPlayerModal">Add Player</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Team Modal-->
    <div class="modal fade" id="addTeamModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollabl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-2" id="addPlayerForm">Add Team</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddTeamModal></button>
          </div>
          <div>
            <form [formGroup]="addTeamForm" id="addTeam">
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="teamName" placeholder="Team Name" formControlName="name" />
                      <label for="teamName">Team Name</label>
                    </div>
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="TeamLocation" placeholder="Location" formControlName="location" />
                  <label for="TeamLocation">Team Location</label>
                </div>
                <div>
                  <div><h3>Select Captain</h3></div>
                  @if (getCaptains()?.length) {
                    @for (player of getCaptains(); track player?.id) {
                      <div class="form-check bowler">
                        <input class="form-check-input" [value]="player?.id" type="radio" formControlName="captainId" [id]="player?.id" />
                        <label class="form-check-label" for="flexRadioDefault1">
                          {{ player?.name }}
                        </label>
                      </div>
                    }
                  } @else {
                    <div class="p-2">Please add captain players</div>
                  }
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="addNewTeam()" [disabled]="addTeamForm.invalid">Add Team</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Player Modal-->
    <div class="modal fade" id="addPlayerModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollabl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-2" id="addBatsmanForm">Add New Player</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddPlayerModal></button>
          </div>
          <form [formGroup]="addPlayerForm" id="addPlayer">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="playerName" placeholder="Name" formControlName="name" />
                    <label for="playerName">Name</label>
                  </div>
                </div>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="playerPhone"
                  maxlength="10"
                  placeholder="phone number"
                  formControlName="phone"
                />
                <label for="playerPhone">Phone Number</label>
              </div>
              <div class="form-floating mb-3">
                <select formControlName="role" class="form-select" aria-label="Player role" id="playerRole">
                  <option value="">Role</option>
                  <option value="1">Batsman</option>
                  <option value="2">Bowler</option>
                  <option value="3">All-Rounder</option>
                  <option value="4">WK-Batsman</option>
                  <option value="5">Batting-AllRounder</option>
                  <option value="6">Bowling-AllRounder</option>
                </select>
              </div>
              <div class="form-floating mb-3">
                <select formControlName="category" class="form-select" aria-label="Player Category" id="PlayerCategory">
                  <option value="">Category</option>
                  <option value="1">A</option>
                  <option value="2">B</option>
                  <option value="3">C</option>
                </select>
              </div>
              <div class="mb-3">
                <input formControlName="isCaptain" class="form-check-input" type="checkbox" id="captain" />
                <label class="form-check-label" for="captain">&nbsp;Is Captain</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="addAuctionPlayer()" [disabled]="addPlayerForm.invalid">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-------------->
  <div>
    <div class="card">
      <div class="card-body admin-list">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="icon-tab-0"
              data-bs-toggle="tab"
              href="#icon-tabpanel-0"
              role="tab"
              aria-controls="icon-tabpanel-0"
              aria-selected="true"
            >
              <i class="ti ti-brand-teams"></i>
              Auction Teams
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="icon-tab-1"
              data-bs-toggle="tab"
              href="#icon-tabpanel-1"
              role="tab"
              aria-controls="icon-tabpanel-1"
              aria-selected="false"
            >
              <i class="ti ti-play-volleyball"></i>
              Auction Players
            </a>
          </li>
        </ul>
        <div class="tab-content pt-1" id="tab-content">
          <div class="tab-pane active" id="icon-tabpanel-0" role="tabpanel" aria-labelledby="icon-tab-0">
            <div class="d-flex justify-content-end">
              <div class="add-team d-flex">
                <div class="players-count">
                  <div>Total Teams: {{ auctionTeams?.length }}</div>
                </div>
                <div>
                  <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addTeamModal">Add Team</button>
                </div>
              </div>
            </div>
            @if (auctionTeams$ | async; as teams) {
              @if (teams?.length) {
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="pl-20">Sno</th>
                      <th scope="col">Name</th>
                      <th scope="col">Location</th>
                      <th scope="col">Logo</th>
                      <th scope="col">Created On</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (team of teams; track index; let index = $index) {
                      <tr>
                        <td class="pl-20">{{ index + 1 }}</td>
                        <td>{{ team?.name }}</td>
                        <td>{{ team?.location }}</td>
                        <td class="logo"><img [src]="team?.logo" alt="" (error)="onImageError($event)" /></td>
                        <td>{{ getDate(team?.createdOn) }}</td>
                        <!-- <td>{{ generateTimeFormat(team?.createdOn) }}</td> -->
                        <td>
                          <!-- <button
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteTeamModal"
                            (click)="setDeleteTeamId(team.id)"
                          >
                            <i class="ti ti-pencil-star"></i>
                          </button> -->
                          &nbsp;&nbsp;
                          <button
                            class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteTeamModal"
                            (click)="setDeleteTeamId(team.id)"
                          >
                            <i class="ti ti-trash"></i>
                          </button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              } @else {
                <div class="p-3">No Teams Available.</div>
              }
            }
          </div>
          <div class="tab-pane" id="icon-tabpanel-1" role="tabpanel" aria-labelledby="icon-tab-1">
            <div class="d-flex justify-content-end">
              <div class="add-team d-flex">
                <div class="players-count">
                  <div>Total Players: {{ auctionPlayers?.length }}</div>
                </div>
                <div>
                  <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addPlayerModal">Add Player</button>
                </div>
              </div>
            </div>
            @if (auctionPlayers$ | async; as players) {
              @if (players.length) {
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="pl-20">Sno</th>
                      <th scope="col">Name</th>
                      <th scope="col">Role</th>
                      <th scope="col">Photo</th>
                      <th scope="col">Created On</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (player of players; track index; let index = $index) {
                      <tr>
                        <td class="pl-20">{{ index + 1 }}</td>
                        <td>{{ player.name }}</td>
                        <td>{{ getPlayerRole(player.role) }}</td>
                        <td class="logo"><img [src]="player?.photo" alt="" (error)="onImageError($event)" /></td>
                        <td>{{ getDate(player.createdOn) }}</td>
                        <td>
                          <button
                            class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#deletePlayerModal"
                            (click)="setDeletePlayerId(player.id)"
                          >
                            <i class="ti ti-trash"></i>
                          </button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              } @else {
                <div class="p-3">No Players Available.</div>
              }
            }
          </div>
        </div>
      </div>
      <!-- Add Player Modal-->
      <div class="modal fade" id="addPlayerModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-2" id="addPlayerForm">Add New Player</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeAddPlayerModal></button>
            </div>
            <!-- <form [formGroup]="addPlayerForm">
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Player Name" formControlName="name" />
                            <label for="floatingInput">Player Name</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-floating mb-3">
                        <select formControlName="team" class="form-select" aria-label="Default select example">
                          <option value="">Select Team</option>
                          @for (team of teams$ | async; track index; let index = $index) {
                            <option [value]="team?.id">{{ team?.name }}</option>
                          }
                        </select>
                        <label for="floatingInput">Team</label>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="addNewPlayer()" [disabled]="addPlayerForm.invalid">Save</button>
                    </div>
                  </form> -->
          </div>
        </div>
      </div>
      <!-- Delete Team Modal-->
      <div class="modal fade" id="deleteTeamModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #deleteTeamModal></button>
            </div>
            <div class="modal-body fs-2">Are you sure to delete this team?</div>
            <div class="modal-footer">
              <button class="btn btn-danger" (click)="deleteTeam(1)">Confirm</button>
              <button class="btn btn-primary" (click)="deleteTeam(0)">No</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Delete Player Modal-->
      <div class="modal fade" id="deletePlayerModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #deletePlayerModal></button>
            </div>
            <div class="modal-body fs-2">Are you sure to delete this player?</div>
            <div class="modal-footer">
              <button class="btn btn-danger" (click)="deletePlayer(1)">Confirm</button>
              <button class="btn btn-primary" (click)="deletePlayer(0)">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
