<div class="d-flex justify-content-center main-div">
  @if (liveMatch$ | async; as match) {
    <div>
      <div class="header">
        <div class="d-flex justify-content-between">
          <div class="title">Teams</div>
          @if (match?.type === '2') {
            <div class="match-info">
              <div>
                {{ getMatchType(match?.type) }}
              </div>
              <div style="text-align: center">
                {{ match?.matchInfo }}
              </div>
            </div>
          }
        </div>
        <div class="sub-title">
          Location: {{ matchInfo.venue }}
          <span>Date: {{ getDate() }}</span>
        </div>
      </div>
      <div class="players-card">
        <div class="d-flex justify-content-center">
          @for (team of teams; track $index) {
            <div class="team-div">
              <div class="team-name">{{ team?.name }}</div>
              <div class="players-list">
                @for (player of getPlayersList(team.id); track $index) {
                  <div class="player-name">
                    {{ $index + 1 }}.&nbsp;{{ player?.name }} &nbsp;
                    {{ player?.is }}
                    @if (player?.isCaptain) {
                      ( C )
                    }
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  } @else {
    <div>Please Start Match to see Players List</div>
  }
</div>
