.main-div {
  background: url('../../assets/images/summary-bg.jpg');
  background-size: cover;
  height: 100vh;
  .header {
    .title {
      font-size: 50px;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .sub-title {
      text-shadow: rgb(16, 14, 3) 1px 0 10px;
      font-size: 18px;
      color: lightyellow;
      font-weight: bold;
      position: relative;
      bottom: 10px;
      span {
        position: relative;
        left: 50px;
      }
      background: -moz-linear-gradient(90deg, rgba(13, 12, 12, 1) 2%, rgba(20, 20, 20, 1) 41%, rgba(222, 46, 23, 1) 100%);
      background: -webkit-linear-gradient(90deg, rgba(13, 12, 12, 1) 2%, rgba(20, 20, 20, 1) 41%, rgba(222, 46, 23, 1) 100%);
      background: linear-gradient(90deg, rgba(13, 12, 12, 1) 2%, rgba(20, 20, 20, 1) 41%, rgba(222, 46, 23, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d0c0c",endColorstr="#de2e17",GradientType=1);
      padding: 5px 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  .match-info {
    font-size: 20px !important;
    position: relative;
    color: #fff;
    font-weight: bold;
  }

  .players-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid #fff;
    border-radius: 10px;
    background: -moz-linear-gradient(180deg, rgba(84, 9, 106, 0.711922268907563) 48%, rgba(148, 6, 35, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(84, 9, 106, 0.711922268907563) 48%, rgba(148, 6, 35, 1) 100%);
    background: linear-gradient(180deg, rgba(84, 9, 106, 0.711922268907563) 48%, rgba(148, 6, 35, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#54096a",endColorstr="#940623",GradientType=1);
    padding: 10px;
    .team-div {
      .team-name {
        background: -moz-linear-gradient(90deg, rgba(19, 9, 214, 1) 2%, rgba(20, 20, 20, 1) 47%, rgba(9, 0, 191, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(19, 9, 214, 1) 2%, rgba(20, 20, 20, 1) 47%, rgba(9, 0, 191, 1) 100%);
        background: linear-gradient(90deg, rgba(19, 9, 214, 1) 2%, rgba(20, 20, 20, 1) 47%, rgba(9, 0, 191, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1309d6",endColorstr="#0900bf",GradientType=1);
        padding-left: 10px;
        font-size: 26px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: #fff;
        margin-right: 10px;
        text-shadow: rgb(16, 14, 3) 1px 0 10px;
      }
      .players-list {
        margin-right: 40px;
        .player-name {
          font-size: 14px;
          color: #fff;
          font-weight: bold;
          border-bottom: 2px solid #fff;
          text-transform: uppercase;
          padding: 5px;
          min-width: 300px;
        }
      }
    }
  }
}
