
.theme-a {
  width:100%;
  height: 20%;
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff;
  .score-banner {
    font-size: 2.5rem;;
  }
  .team-name {
    height: 100%;
    padding-right: 20px !important;
    padding-left: 20px !important;
    background: linear-gradient(180deg, rgba(226, 14, 14, 1) 0%, rgba(162, 7, 28, 1) 58%);
  }
  .batting-team{
    // font-size: 2.5rem;
  }
  .score-div {
    // font-size: 2rem;
    position: relative;
    bottom: 3px;
  }
  .add-data {
    font-size: 2rem;
    padding-left: 10px;
    padding-top: 6px;
  }
  .row-2 {
    height: 45%;
    padding: 3px;
    background: linear-gradient(180deg, rgba(2, 144, 69, 1) 0%, rgba(2, 61, 30, 1) 58%);
  }
  .row-1 {
    height: 55%;
    background: linear-gradient(180deg, rgba(81, 88, 223, 1) 0%, rgba(7, 26, 162, 1) 58%);
  }
  .score,
  .overs {
    // font-size: 1.1rem;
  }
  .bat {
    width: 13px;
    height: 13px;
    position: relative;
    top: -1px;
    margin-left: 20px;
  }
}

.player-details {
  padding-right: 10px;
}

.team-logo {
  padding: 2px;
  img {
    width: 110px;
    height: 120px;
  }
  background-color: #fff;
}

.ball-div {
  background-color: #fff;
  color: #000;
  padding: 1px 2px;
  // border-radius: 20px;
}

.boundary-6 {
  background-color: red;
  color: #fff;
}
.boundary-4 {
  background-color: yellow;
  // color: #fff;
}
.projected-score{
  // margin-left: 5%;
}
.balls-text{
  padding-top: 4px;
  margin-right: 10px;
}
.scroll-text {
  font-size: 1.7rem;
  padding-left: 20px;
}

.animate {
  position: absolute;
  top: 0px;
  background: linear-gradient(180deg, rgba(221,79,55,1) 0%, rgba(227,151,19,1) 46%, rgba(184,18,0,1) 100%);
  width: 100%;
  height: 100%;
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 0.2s;
  animation-fill-mode: backwards;
  font-size: 5rem;  
  z-index: 990;
  overflow-x: hidden;
  text-align: center ;
  color: #fff;
}
    
@keyframes animate-fade {
    0% { opacity: 0; }
  100% { opacity: 1; }
}


.animate.pop {
  padding-left: 2%;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
        
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}


.delay-1 {
  animation-delay: 0.6s;
}